# R project files.
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Binary files.
*.rds
*.zip

# LightGBM output models.
models/**/*.txt

# Compiled Python code.
*.pyc

# MiniZinc input data, output json, log-files.
*.dzn
*.json
*.log

# The (default location for) Python virtual env.
.venv/

# Notebook checkpoints.
.ipynb_checkpoints/
